@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: rgb(236, 232, 232);
  color: rgb(59, 54, 54);
}

.invisible {
  display: none;
}

.cat-info {
  margin-top: 20px;
  display: flex;
  gap: 40px;
  max-width: 900px;
}

.cat-info-desc {
  line-height: 150%;
}

.wrapper {
  padding: 20px;
}
